<div class="container">
<app-add-user-header></app-add-user-header>
<form *ngIf="showAddUser" class="add-from" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Add name" />
  </div>
  <div class="form-control">
    <label for="birthdate">Birthdate</label>
    <input type="text" name="birthdate" [(ngModel)]="birthdate" id="birthdate" placeholder="Add Birthdate" />
  </div>
  <div class="form-control">
    <label for="sexe">Sexe</label>
    <input type="text" name="sexe" [(ngModel)]="sexe" id="sexe" placeholder="Add sexe" />
  </div>
  <div class="form-control">
    <label for="image">Image</label>
    <input type="text" name="image" [(ngModel)]="image" id="image" placeholder="Add image" />
  </div>

  <input type="submit" value="Add User" class="btn btn-primary"/>
</form>
</div>

